    <div class="banner">
        <div class="container">

        </div>
        <!-- <img src="../../../assets/412703.jpg" alt="lambo" style="height: 100%; width: 100%;"> -->
       <div class="header">
        <h2 class="mt-5">Welcome to the Arena</h2>
        <h6>Check the latest scores in the Motor E-Sports world</h6>
        <a routerLink="users">Get Started</a>

       </div>


          
    </div>
    <!-- <div class="montage container row col-md-12 d-flex justify-content-around m-auto mt-5">

        <div class="winner col-md-4">
                <div class="card">
    
                </div>
        </div>
        <div class="winner col-md-4">
                <div class="card">
    
                </div>
        </div>
        <div class="winner col-md-4">
                <div class="card">
    
                </div>
        </div>
    </div> -->

    
    
